/* @import url('themes.css'); */
/* @import url('variables.css'); */
/* @import url('editor.css'); */
/* @import url('slides.css'); */
/* @import url('toc.css'); */
/* @import url('print.css'); */
/* @import url('scrollbar.css'); */

body {
  overscroll-behavior-y: none;
  @apply font-mono;
}

.focus-bg {
  @apply focus-within:bg-gray-100 focus-within:dark:bg-gray-800 focus-within:outline-none;
}

/* Icons in Commands in modals are too big in shadcn */
div [cmdk-root] [cmdk-item] svg {
  @apply h-4 w-4;
}

/* Old stuff */
table.shortcuts td:first-child {
  padding: 5px 10px 5px 0;
}

@media (max-height: 600px) {
  .editor-footer,
  .footer-icon {
    display: none;
  }
}

.tricks kbd {
  @apply bg-gray-200 font-semibold dark:bg-gray-700;
}

.tricks .example {
  @apply rounded bg-yellow-200 p-4 dark:bg-yellow-800;
}

.panel-padding {
  @apply p-4;
}
