@layer main {
  .expand {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    z-index: 1000;
  }

  .expand:hover {
    background: rgb(0 0 0 / 10%);
    cursor: pointer;
  }

  .scrollable {
    flex: 1;
    overflow: auto;
    width: 100%;
    border: none;
  }
}
