/* Colors */
:root,
::after,
::before {
  --main-font: 'Inter', 'Open Sans', 'Helvetica', 'Arial', sans-serif;

  /* Greys */
  /* stylelint-disable */
  --ultra-light-grey: theme(colors.gray.50);
  --light-grey: theme(colors.gray.200);
  --medium-light-grey: theme(colors.gray.300);
  --medium-grey: theme(colors.gray.400);
  --medium-dark-grey: theme(colors.gray.500);
  --dark-grey: theme(colors.gray.800);
  --ultra-dark-grey: theme(colors.gray.900);
  /* stylelint-enable */
  --black: #000;

  /* Global */
  --separator-color: var(--light-grey);
  --editor-padding: 2em;
  --background: theme(colors.gray.50); /* stylelint-disable-line */
  --text-color: var(--dark-grey);
  --scrollbar-color: var(--medium-light-grey);
  --scrollbar-border: transparent;

  /* stylelint-disable */
  --border-color: theme(colors.gray.500);
  --border-soft-color: theme(colors.gray.200);

  --solid-bg-color: theme(colors.gray.100);
  --solid-hover-bg-color: theme(colors.gray.200);

  --success-color: theme(colors.green.600);
  --error-color: theme(colors.red.500);

  /* stylelint-enable */

  /* Editor Area */
  --editor-bg-color: var(--ultra-light-grey);
  --editor-text-color: var(--black);
  --editor-unfocused-color: var(--medium-grey);
  --editor-normal-color: var(--light-grey);
  --editor-normal-text-color: var(--medium-grey);
  --theme-color: var(--dark-grey);
  --viewer-link-color: theme(colors.blue.500); /* stylelint-disable-line */

  /* Panes */
  --base-width: 20em;
}
