@import url('viewer.css');

.file-page .main-area {
  justify-content: center;
  background: #999;
}

.dark.file-page .main-area {
  background: #222;
}

.panes {
  position: relative;
  flex: 1;
}

.area svg {
  fill: currentcolor;
}

.editorarea {
  flex: 2;
}

.pill {
  @apply flex items-center rounded-sm px-1.5 text-gray-800;
}

@media (max-height: 600px) {
  .editor-footer,
  .footer-icon {
    display: none;
  }
}
