/******* scrollbars start *******/

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}

/* Webkit */
*::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: 4px;
  border: 1px solid var(--scrollbar-border);
}

/******* scrollbars end *******/
